label:hover, a, a:hover, a:focus{
	color: #0078e7;
	text-decoration: none;
}
body, h1{
	color: #222222;
}
h1, h4{
	text-align: center;
}
#about{
	text-align: justify;
}
img{
	float:right;
	margin: auto;
	display:block;
	height: auto;
	width: 25em;
}
#testbtn{
	display: block;
	margin: auto;
	width: 300px;
}
#aimg{
	width: 37em;
}
#simg, #cimg{
	width: 27em;
}
